# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
artifacts

# Virtual environment
venv/

# Logs
logs/

# Artifacts / data
artifacts/

# Egg info
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/
